* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #0b2434;
  padding: 2rem 1rem;
}

.game {
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.dice {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.die:nth-last-child(1) {
  grid-column: 2 / span 2;
}

@media screen and (min-width: 480px) {
  .dice {
    grid-template: auto auto / repeat(5, 1fr);
  }
  .die:nth-last-child(1) {
    grid-column: inherit;
  }
}

.die {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}

.number {
  font-size: 1.5rem;
  font-weight: bold;
}

.button-roll {
  background-color: #5035ff;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 0.4em 1.8em;
  font-family: "Karla", sans-serif;
}
.title {
  margin: 0;
}

.instructions {
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-align: center;
  max-width: 35ch;
  margin: 1.2rem 0 1.8rem 0;
}
.button-roll:focus {
  outline: none;
}

.button-roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die--active {
  background-color: #59e391;
}

.timer {
  width: 100%;
  justify-content: space-evenly;
  margin: 0 0 1.8rem 0;
}
